/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 24px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color: #033048;
  height: 70px;
}

.middle {
  background-color: #f0efef;
  padding: 50px 10px;
}

.main {
  width:700px;
  width: 70%;
}

.sidebar {
  font-size: 22px;
  width: 240px;
  width: 23%;
}

footer {
  background-color: #121212;

}

.post {
  width: 700px;
  border-bottom: 1px solid black;
}

.cta {
  background-color: #f9e42e;
  height: 100px;
  text-align: center;
  padding: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  padding: 15px;
}

.top {
  font-size: 24px;
  padding: 15px;
}

.top li {
  float: left;
  padding: 0 15px;
}

.top li a {
  text-decoration: none;
  color: #f9e42e;
}

.sideheader {
  font-size: 32px;
}


.social ul {
  padding: 0 15px;
}


.blog-title {
  font-size: 40px;
  font-weight: 600px;
}

.widget {
  padding: 10px;
}


.widget ul a {
  font-size: 24px;
  text-decoration: none;
  color:  #033048;
}

main img {
  width: 700px;
}

.more {
  font-size: 22px;
  font-weight: 600;
}

.button {
  color: #fff;
  background-color: #033048;
  border: 5px solid #f9e42e;
  font-size: 14px;
  font-weight: 800;
  margin: 15px;
  padding: 20px 60px;
  text-decoration: none;
  border-radius: 8px;
}
.bold {
  color: #033048;
  font-weight: 800;
}

.social {
  text-align: center;
}

.social li {
  display: inline-block;
  padding: 0 10px;
}

.copyright {
  color: #fff;
  font-size: 12px;
}

.yellow {
  color: #f9e42e;
}

.copyright, .yellow {
  text-align: center;
  padding: 40px 0;
}
